
body{
  background-image: url('https://wallpaperaccess.com/full/1338378.jpg');
  background-size: auto 100vh;
  height: 100vh;
  font-family: arial;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a{
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  color: white;
  text-align: center;
}

.site-subtitle {
  text-align: center;
  color: white;
}

